In [41]:
import numpy as np
import pandas as pd

# series / seriler

In [42]:
benimSozlugum = {"sema":35,"tolga":35,"melis":5,"venüs":2}

In [43]:
pd.Series(benimSozlugum)

sema     35
tolga    35
melis     5
venüs     2
dtype: int64

In [44]:
benimYaslarim = [35,35,5,2]
benimIsimlerim = ["sema","tolga","melis","venüs"]

In [45]:
pd.Series(benimYaslarim)

0    35
1    35
2     5
3     2
dtype: int64

In [46]:
pd.Series(benimYaslarim, benimIsimlerim)

sema     35
tolga    35
melis     5
venüs     2
dtype: int64

In [47]:
pd.Series(data= benimYaslarim, index= benimIsimlerim)

sema     35
tolga    35
melis     5
venüs     2
dtype: int64

In [48]:
numpyDizisi = ([10,20,30,40])

In [49]:
np.array(numpyDizisi)

array([10, 20, 30, 40])

In [50]:
pd.Series(numpyDizisi)

0    10
1    20
2    30
3    40
dtype: int64

In [51]:
pd.Series(data=numpyDizisi, index = benimIsimlerim)

sema     10
tolga    20
melis    30
venüs    40
dtype: int64

In [52]:
pd.Series(["sema","tolga","melis","venüs"],[1,2,3,4])

1     sema
2    tolga
3    melis
4    venüs
dtype: object

In [53]:
yarismaSonucu1 = pd.Series([10,7,5,3],["sema","tolga","melis","venüs"])

In [54]:
yarismaSonucu1

sema     10
tolga     7
melis     5
venüs     3
dtype: int64

In [55]:
yarismaSonucu2 = pd.Series([20,15,9,5],["sema","tolga","melis","venüs"])

In [56]:
yarismaSonucu2

sema     20
tolga    15
melis     9
venüs     5
dtype: int64

In [57]:
yarismaSonucu2["tolga"]

15

In [58]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2

In [59]:
sonSonuc

sema     30
tolga    22
melis    14
venüs     8
dtype: int64

In [61]:
farkliSeries = pd.Series([10,20,30,40] ,["a","b","c","d"])

In [65]:
farkliSeries2 = pd.Series([5,7,10,6],["d","c","b","a"])

In [66]:
sonuc = farkliSeries + farkliSeries2

In [67]:
sonuc

a    16
b    30
c    37
d    45
dtype: int64

In [68]:
farkliSeies3 = pd.Series([100,200,300,400],["a","e","b","f"])

In [69]:
sonucSon = farkliSeries + farkliSeries2 + farkliSeies3

In [70]:
sonucSon

a    116.0
b    330.0
c      NaN
d      NaN
e      NaN
f      NaN
dtype: float64