In [12]:
import pandas as pd

In [14]:
dataFrame= pd.read_excel("maas.xlsx")

In [15]:
dataFrame

  Unnamed: 0   Maas   Yas Departman
0       Sema  100.0  30.0   Yazılım
1      Tolga  200.0  40.0     Satış
2        Nil  150.0   NaN    Finans
3      Gökay   50.0  55.0  Muhasebe
4      Melis  300.0  30.0       NaN
5      Venüs  250.0  25.0     Hukuk
6       Peri  400.0  40.0     Satış
7       Pars    NaN  25.0    Finans

In [17]:
doluDegerlerDataFrame = dataFrame.dropna()

In [18]:
doluDegerlerDataFrame

  Unnamed: 0   Maas   Yas Departman
0       Sema  100.0  30.0   Yazılım
1      Tolga  200.0  40.0     Satış
3      Gökay   50.0  55.0  Muhasebe
5      Venüs  250.0  25.0     Hukuk
6       Peri  400.0  40.0     Satış

In [19]:
doluDegerlerDataFrame.to_excel("yenimaas.xlsx")